html {
  -webkit-font-smoothing: antialiased;
}
/* Selecting text */
::-moz-selection {
  background: #444444;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #444444;
  color: #ffffff;
  text-shadow: none;
}
.hover-content {
  overflow: hidden;
  position: relative;
}
#ascrail2000-hr {
	display: none !important;
}
/*
 * ===================================
 * Media Queries
 * ===================================
 * */
@media (max-width: 768px) {
  .list-inline .btn {
    min-width: 100%;
  }
  .list-inline li {
    display: block;
    min-width: 100%;
  }
  .list-inline li:not(:last-child) {
    margin-bottom: 15px;
  }
  .marginTop {
	  margin-top: -80px;
  }
  #partners img {
	  max-height: 200px;
	  margin: auto auto 15px auto;
  }
}
@media (max-width: 768px) {
  .panel.prices {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .profile-grid .profile,
  .profile {
    margin-bottom: 30px;
  }
  .profile-grid .profile-circle {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .first.panel.prices {
    left: 45px;
  }
  .last.panel.prices {
    right: 45px;
  }
}
@media (min-width: 1200px) {
  .first.panel.prices {
    left: 80px;
  }
  .last.panel.prices {
    right: 80px;
  }
}
a {
  color: #c0372c;
}
.btn-primary {
  background-color: #c0372c;
  border-color: #c0372c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #82251e;
  border-color: #6d1f19;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #c0372c;
  border-color: #c0372c;
}
.btn-primary .badge {
  color: #c0372c;
}
.btn-link {
  color: #c0372c;
}
.btn-link:hover,
.btn-link:focus {
  color: #82251e;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #c0372c;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #c0372c;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #c0372c;
  }
}
.pagination > li > a,
.pagination > li > span {
  color: #c0372c;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #c0372c;
  border-color: #c0372c;
}
.label-primary {
  background-color: #c0372c;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #581914;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #c0372c;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #c0372c;
}
.progress-bar {
  background-color: #c0372c;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #c0372c;
  border-color: #c0372c;
}
.panel-primary {
  border-color: #c0372c;
}
.panel-primary > .panel-heading {
  background-color: #c0372c;
  border-color: #c0372c;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #c0372c;
}
.panel-primary > .panel-heading .badge {
  color: #c0372c;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #c0372c;
}
.carousel-indicators li {
  border: 1px solid #c0372c;
}
.carousel-indicators .active {
  background-color: #c0372c;
}
/*
 * ===================================
 * Typography
 *
 * includes: Headings, Body, Lists, Links
 * ===================================
 * */
/*=== Large title and subtitle ===*/
.lg-title {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 45px;
  font-size: 45px;
  margin-top: 0;
  line-height: 50px;
}


.lg-title .lg-title-border::after {
  content: "";
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-title {
  text-align: center;
  color: #777777;
  font-size: 16px;
  margin-top: -20px;
  line-height: 24px;
  padding-bottom: 30px;
}
/*=== Big title and subtitle ===*/
@media (min-width: 768px) {
  .big-title {
    font-size: 40px;
    color: #777777;
  }
  .big-subtitle {
    font-size: 18px;
    color: #999999;
    margin: 20px auto 0;
    font-weight: 300;
    line-height: 28px;
    max-width: 85%;
    letter-spacing: 0.25px;
  }
}
@media (max-width: 768px) {
  .big-title {
    font-size: 30px;
    color: #777777;
  }
  .big-subtitle {
    font-size: 15px;
    color: #777777;
    margin: 15px auto 0;
    line-height: 20px;
  }
}
/*=== Medium title ===*/
.md-title {
  color: #555555;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.5px;
}
.bg-filter-v2 .lg-title,
.bg-filter-v2 .big-title,
.bg-filter-v1 .lg-title,
.bg-filter-v1 .big-title,
.bg-filter .lg-title,
.bg-filter .big-title {
  color: #ffffff;
}
/*=== Subtitles ===*/
.subtitle-v2 {
  font-size: 1.75em;
  font-weight: 300;
  text-transform: uppercase;
}
/*=== Text blocks ===*/
.text-block {
  font-size: 16px;
  line-height: 25px;
}
.text-block-v1 {
  font-size: 16px;
  line-height: 1.8;
}
.text-block-v2 {
  line-height: 22px;
}
.text-block,
.text-block-v1,
.text-block-v2 {
  color: #777777;
}
/*===   Test Colors    ===*/
.text-muted {
  color: #777777 !important;
}
.text-grey {
  color: #999999;
}
.text-primary {
  color: #c0372c !important;
}
a.text-primary:hover {
  color: #82251e;
}
.text-success {
  color: #229336;
}
a.text-success:hover {
  color: #14551f;
}
.text-info {
  color: #3a66b5;
}
a.text-info:hover {
  color: #2b727c;
}
.text-warning {
  color: #c0732c;
}
a.text-warning:hover {
  color: #824e1e;
}
.text-danger {
  color: #c0372c;
}
a.text-danger:hover {
  color: #82251e;
}
.bg-primary {
  color: #ffffff !important;
  background-color: #c0372c !important;
}
a.bg-primary:hover {
  color: #ffffff;
  background-color: #82251e;
}
.bg-success {
  color: #fff;
  background-color: #229336 !important;
}
a.bg-success:hover {
  background-color: #14551f;
}
.bg-info {
  color: #fff;
  background-color: #3a66b5 !important;
}
a.bg-info:hover {
  background-color: #0e3339;
}
.bg-warning {
  color: #fff;
  background-color: #c0732c !important;
}
a.bg-warning:hover {
  background-color: #824e1e;
}
.bg-danger {
  color: #fff;
  background-color: #c0372c !important;
}
a.bg-danger:hover {
  background-color: #82251e;
}
/* ===    Lists    === */
/*=== Icons List ===*/
.icons-list {
  padding-left: 0;
  list-style: none;
}
.icons-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 2.5px;
  margin-top: 5px;
  padding-left: 2.5px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hover-content .icons-list li {
    padding-left: 0;
    padding-right: 0;
  }
}
/*=== Info list ===*/
/* using in the portfolio item (down) */
.info-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.info-list > li {
  margin-bottom: 15px;
}
.info-list > li > i:before {
  margin-right: 8px;
}
.info-list .md-list li {
  margin-bottom: 10px;
}
.info-list .sm-list li {
  margin-bottom: 5px;
}
.info-list .style {
  padding-left: 40px;
}
.info-list .md-list li:last-child,
.info-list .sm-list li:last-child,
.info-list > li:last-child {
  margin-bottom: 0;
}
.info-list-border > li {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}
/*=== Inline Buttons ===*/
.inline-btn > .btn {
  margin-right: 15px;
}
.big-list li {
  font-size: 22px;
  font-weight: lighter;
  color: #777;
  margin: 15px 0;
}
/* === Links === */
a:hover,
a:focus {
  color: #82251e;
  text-decoration: none;
}
a:focus {
  outline: none;
}
/* blockquote */
blockquote.primary {
  border-left-color: #c0372c;
}
blockquote.info {
  border-left-color: #1d6b76;
}
/* welcome/intro seciton */
.text-intro {
  font-size: 23px;
  font-weight: 300;
  color: #fff;
}
.title-intro {
  color: #fff;
  font-size: 67.5px;
  font-weight: 300;
  text-align: center;
}
/*
 * ===================================
 * Forms
 * 
 * includes: Form with Icon, Transparent Form, Sign Up/In Pages
 * ===================================
 * */
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  text-transform: none;
  font-weight: 300;
  line-height: 1.42857143;
  color: #fff;
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.form-control:focus {
  outline: 0;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
  text-transform: uppercase;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
  text-transform: uppercase;
}
textarea.form-control {
  line-height: normal !important;
  padding-top: 15px !important;
}
/* Icon in form field */
.icon .btn {
  min-height: 50px;
}
.icon .form-control {
  height: 52px;
  padding: 0 15px 17px 50px;
  font-size: 16px;
}
.icon .control {
  position: relative;
}
.icon .control i {
  position: absolute;
  font-size: 150%;
  top: 0;
  z-index: 2;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  left: 0;
  color: #fff;
}
.icon textarea.form-control {
  line-height: normal !important;
  height: auto !important;
}
/* For Form - Success / Error */
.error,
.success {
  padding: 15px;
  color: #FFA654;
  margin-bottom: 0;
  font-weight: 400;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.error:before,
.success:before {
  content: "*";
  display: inline-block;
  color: #fff;
  margin-right: 5px;
}
#mce-responses {
  position: relative;
  width: 100%;
  color: #fff;
  clear: both;
  padding: 15px;
}
/* Total Transparent Form */
.all-trn .form-control {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
  border-radius: 0;
  padding-bottom: 1px;
}
.all-trn .form-control:focus {
  border-bottom-color: #fff !important;
}
/* special rules for the "join us" form */
.all-trn.form-inline .form-group,
.all-trn.form-inline .input-group {
  min-width: 100% !Important;
}
/*
 * ===================================
 * Helper Classes
 * 
 * includes: spaces, hr, section, filling-section, small container
 * ===================================
 * */
/*=== Spaces - smart tags for fast indentation ===*/
.space,
.space-sm,
.space-md,
.space-lg {
  display: block;
  float: none;
  clear: both;
}
.space-sm {
  padding-top: 15px;
}
.space-md {
  padding-top: 20px;
}
.space {
  padding-top: 30px;
}
.space-lg {
  padding-top: 50px;
}
.space-xlg {
  padding-top: 80px;
}
/*=== Large line - <hr class="hr"> ===*/
.hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* === Colors === ===*/
/* === Text Colors === (text-primary and etc. you will find in the bootstrap.css) ===*/
.text-white a,
.text-white {
  color: #ffffff !important;
}
.text-light a,
.text-light {
  color: #dddddd !important;
}
/**/
.text-left {
  text-align: left !important;
}
/*=== Section - make your site clearly with these classes ===*/
@media (min-width: 768px) {
  .section-sm {
    padding: 20px 0;
  }
  .section-md {
    padding: 30px 0;
  }
  .section {
    padding: 50px 0;
  }
  .section-lg {
    padding: 80px 0;
  }
  .section-xlg {
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  .section-sm {
    padding: 15px 0;
  }
  .section-md {
    padding: 20px 0;
  }
  .section {
    padding: 30px 0;
  }
  .section-lg {
    padding: 50px 0;
  }
  .section-xlg {
    padding: 70px 0;
  }
}
.container-fluid.section,
.container-fluid.section-md,
.container-fluid.section-sm,
.container-fluid.section-lg,
.container.section,
.container.section-sm,
.container.section-md,
.container.section-lg {
  padding-left: 15px;
  padding-right: 15px;
}
/*=== Section with absolute postiion - using on the Sign In/Up Pages ===*/
/*=== seciton with no top padding ===*/
.section-sm,
.section-md,
.section-lg,
.section {
  position: relative;
}
/*=== Section for background image or video ===*/
.filling-section {
  min-height: 350px;
  position: relative;
}
/*=== Small container ===*/
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* centerX */
.centerX {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* centerY */
.centerY {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*=== Block center - horizontal and vertical ===*/
.h-center,
.v-center {
  position: absolute;
  top: 50%;
}
.v-center {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.h-center {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
/*=== vertical and horizontal center  ===*/
.hv-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*=== max width center, center block ===*/
/*=== max width 450px ===*/
/*=== Margins ===*/
.m-no-all {
  margin: 0;
}
.m-no-bottom {
  margin-bottom: 0;
}
.m-no-top {
  margin-top: 0;
}
.m-no-left {
  margin-left: 0;
}
.m-no-right {
  margin-right: 0;
}
.m-10-top {
  margin-top: 10px;
}
/*=== Paddings ===*/
.p-no-all {
  padding: 0;
}
.p-no-bottom {
  padding-bottom: 0;
}
.p-no-top {
  padding-top: 0;
}
.p-no-left {
  padding-left: 0;
}
.p-no-right {
  padding-right: 0;
}
/*=== center block fix ===*/
.input-group.center-block {
  display: inline-table;
}
/*
 * ===================================
 * Buttons
 * 
 * includes: transparent buttons, extra large button, total transparent btn
 * ===================================
 * */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #fff;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 15px 20px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 4px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 1px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 1px;
}
/* Btn Default */
.btn-default {
  color: #555555;
  background-color: #ffffff;
  border-color: #dddddd !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default .open > .dropdown-toggle.btn-default {
  color: #777777;
  background-color: #f1f1f1;
  border-color: #cbcbcb;
}
/* Extra large button */
@media (min-width: 768px) {
  .btn-xlg {
    padding: 15px 20px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .btn-xlg {
    padding: 10px 15px !important;
    text-transform: uppercase;
  }
}
/*=== Transparent Buttons ===*/
/* Default Transparent Button v1 */
.btn-default-trn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff !important;
}
.btn-default-trn:focus,
.btn-default-trn:hover {
  color: #777777;
  background-color: #ffffff;
}
/* Default Transparent Button v2 */
.btn-default-trn-v2 {
  color: #999999;
  background-color: transparent;
  border: 1px solid #dddddd !important;
}
.btn-default-trn-v2:focus,
.btn-default-trn-v2:hover {
  color: #444444;
  background-color: transparent;
}
/* Transparent Button v3 */
.btn-trn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff !important;
  border-left-color: transparent !important;
}
.btn-trn:focus,
.btn-trn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.btn-trn:focus i,
.btn-trn:hover i {
  color: #eee;
}
/* Total Transparent Button */
.btn-all-trn {
  background: transparent;
  border-bottom-color: #eeeeee !important;
  border-radius: 0 !important;
  margin-left: -2px !important;
  color: #999999 !important;
}
.btn-all-trn:focus,
.btn-all-trn:hover {
  box-shadow: none;
}
/* Primary Transparent Button */
.btn-primary-trn {
  color: #c0372c;
  background-color: transparent;
  border: 1px solid #c0372c !important;
}
.btn-primary-trn:focus,
.btn-primary-trn:hover {
  color: #ffffff;
  background-color: #c0372c;
}
/* Success Transparent Button */
.btn-success-trn-v2 {
  color: #229336;
  background-color: transparent;
  border: 1px solid #229336 !important;
}
.btn-success-trn-v2:focus,
.btn-success-trn-v2:hover {
  color: #ffffff;
  background-color: #229336;
}
/* Info Transparent Button */
.btn-info-trn {
  color: #1d6b76;
  background-color: transparent;
  border: 1px solid #1d6b76 !important;
}
.btn-info-trn:focus,
.btn-info-trn:hover {
  color: #ffffff;
  background-color: #1d6b76;
}
/* Warning Transparent Button */
.btn-warning-trn {
  color: #c0732c;
  background-color: transparent;
  border: 1px solid #c0732c !important;
}
.btn-warning-trn:focus,
.btn-warning-trn:hover {
  color: #ffffff;
  background-color: #c0732c;
}
/* Danger Transparent Button */
.btn-danger-trn {
  color: #c0372c;
  background-color: transparent;
  border: 1px solid #c0372c !important;
}
.btn-danger-trn:focus,
.btn-danger-trn:hover {
  color: #ffffff;
  background-color: #c0372c;
}
/* Link Transparent Button */
.btn-link-trn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent !important;
}
.btn-link-trn:focus,
.btn-link-trn:hover {
  color: #dddddd;
}
.btn-link {
  -webkit-transition: border 0.45s ease;
  transition: border 0.45s ease;
  border: 1px dashed #dddddd;
}
.btn-link:hover {
  border: 1px solid #eeeeee;
  text-decoration: none;
}
/* Basics Buttons */
/* primary */
.btn-primary {
  background-color: #c0372c;
  border-color: #c0372c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #972b22;
  border-color: #972b22;
}
/* success */
.btn-success {
  background-color: #229336;
  border-color: #229336;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #186a27;
  border-color: #186a27;
}
/* info */
.btn-info {
  background-color: #1d6b76;
  border-color: #1d6b76;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: #13464d;
  border-color: #13464d;
}
/* warning */
.btn-warning {
  background-color: #c0732c;
  border-color: #c0732c;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-color: #975a22;
  border-color: #975a22;
}
/*Danger*/
.btn-danger {
  background-color: #c0372c;
  border-color: #c0372c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-color: #972b22;
  border-color: #972b22;
}
/*
 * ===================================
 * Background
 * 
 * includes: Background Color, Background Filter, Background Images
 * ===================================
 * */
/* === Social Networks - Background Colors === */
/* === Background Color === */
.bg-grey {
  background: #f0f0f0 !important;
}
.bg-grey-1 {
  background: #f0eeed !important;
}
.bg-grey-2 {
  background: #f2f5f7 !important;
}
.bg-grey-3 {
  background: #f5f5f5 !important;
}
.bg-grey-4 {
  background: #f9f9f9 !important;
}
.bg-dark {
  background: #444444 !important;
}
.bg-dark-1 {
  background: #865120 !important;
}
/* === Filter of Background === */
.bg-filter,
.bg-filter-v1,
.bg-filter-v2 {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.bg-filter-v2 {
  background: rgba(0, 0, 0, 0.75);
}
.bg-filter {
  background: rgba(0, 0, 0, 0.6);
}
.bg-filter-v1 {
  background: rgba(0, 0, 0, 0.45);
}
/* === Background Images === */
.bg-15 {
  background-image: url("../../img/1920w/cable-car.jpg");
}
.bg-16 {
  background-image: url("../../img/1920w/swimming.jpg");
}
.bg-18 {
  background-image: url("../../img/1920w/cal-rugby.jpg");
}
.bg-19 {
  background-image: url("../../img/1920w/transamerica.jpg");
}
/* Useful Classes for background images */
@media (min-width: 768px) {
  .bg-fixed {
    background-attachment: fixed !important;
  }
}
.bg-center {
  background-position: center !important;
}
.bg-centerTop {
  background-position: center top !important;
}
.bg-cover {
  background-size: cover !important;
}
.bg-contain {
  background-size: contain !important;
}
.bg-norepeat {
  background-repeat: no-repeat !important;
}
.bg-repeat {
  background-repeat: repeat;
}
/* legacy - background images */
.img-mask {
  background: url("../../img/unnamed.png");
  background-position: center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 1s cubic-bezier(0.43, 0.01, 0.02, 0.99) 0.35s;
  transition: all 1s cubic-bezier(0.43, 0.01, 0.02, 0.99) 0.35s;
}
.img-fixed-c,
.img-fixed-b,
.img-fixed-a {
  background-attachment: fixed !important;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: relative;
}
.img-fixed-a {
  background: url("../../img/legacy/1-transportation.png");
}
.img-fixed-b {
  background: url("../../img/legacy/2-accommodation.png");
}
.img-fixed-c {
  background: url("../../img/legacy/3-youth.png");
}
.extra-layer {
  position: relative;
  min-height: 500px;
}
.centerYtop {
  position: relative;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.centerYtop .big-title {
  margin-top: 0;
}
.centerYtop ul {
  margin-bottom: 0;
}
/*
 * ===================================
 * Icons
 * 
 * includes: Circle icons, Square icons, Colors of Icons
 * ===================================
 * */
/* Small Circle Icons - social, share */
.circle-icons i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #c0372c;
  font-size: 15px !important;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.circle-icons li:hover i {
  background: #c0372c;
  color: #ffffff;
}
h1 i:before,
h2 i:before,
h3 i:before,
h4 i:before,
h5 i:before,
button > i:before,
.btn > i:before {
  margin-right: 5px;
}
.fa-long-arrow-right:before {
  margin-left: 5px;
}
/* Button only with icon */
i.only-i:before,
.only-i i:before {
  margin-right: 0;
}
/* background icons */
.icon-bg {
  font-size: 250px !important;
  color: #aaa;
  text-align: center;
  display: block !Important;
}
/* social icons */
.i-social {
  font-size: 17px !Important;
  width: 45px;
  height: 45px;
  line-height: 45px !important;
  background: #d58d4a;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
.i-social:hover {
  background: #edceb1;
  color: #c0732c;
}

.social-follow {
  color:#fff;
  margin:auto 8px;
  font-size: 18px !Important;
  height: 45px;
  padding:10px;
  border-radius: 2px;
  border:1px solid rgba(255,255,255,0.35);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;  
}

.social-follow:hover {
  color:#eee;
  background: rgba(255,255,255,0.35);
}


/*
 * ===================================
 * Content Boxes
 * 
 * includes: Large Square, Right and Center Float Box 
 * ===================================
 * */
/*
 * ===================================
 * Hover Content Boxes
 * 
 * includes:  Rotate (to the axis Y) Hover Effect, Slide from top and from bottom
 * ===================================
 * */
/* === Rotate Hover Effect - using by pricing tables on the home page version 2 === */
.visible-part,
.hidden-part {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #ffffff;
}
.visible-part {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}
.hidden-part {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: text;
  opacity: 0;
  -webkit-transform: perspective(500px) rotateY(180deg);
  -moz-transform: perspective(500px) rotateY(180deg);
  -ms-transform: perspective(500px) rotateY(180deg);
  transform: perspective(500px) rotateY(180deg);
}
.hover-content:hover {
  /* visible-part (current) will be hidden */
  /* hidden-part (current) will be visible */
}
.hover-content:hover .visible-part {
  opacity: 0;
  -webkit-transform: perspective(500px) rotateY(-180deg);
  -moz-transform: perspective(500px) rotateY(-180deg);
  -ms-transform: perspective(500px) rotateY(-180deg);
  transform: perspective(500px) rotateY(-180deg);
}
.hover-content:hover .hidden-part {
  opacity: 1;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}
.flipping .hover-content {
  /* visible-part (current) will be hidden */
  /* hidden-part (current) will be visible */
}
.flipping .hover-content .visible-part {
  opacity: 0;
  -webkit-transform: perspective(500px) rotateY(-180deg);
  -moz-transform: perspective(500px) rotateY(-180deg);
  -ms-transform: perspective(500px) rotateY(-180deg);
  transform: perspective(500px) rotateY(-180deg);
}
.flipping .hover-content .hidden-part {
  opacity: 1;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}
/* === Portfolio Item - top animation with link to somethink and bottom animation with title of a project, work or somethink === */
.hover-content:hover .top-part,
.hover-content:hover .bottom-part {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.bottom-part,
.top-part {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  bottom: 0;
  cursor: pointer;
}
.top-part {
  top: 0;
  height: 79%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0%, -100%);
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  opacity: 0;
}
.top-part i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.35s ease-out 0.3s;
  transition: opacity 0.35s ease-out 0.3s;
}
.bottom-part {
  height: 50%;
  background: #f5f5f5;
  -webkit-transform: translate(0%, 100%);
  -moz-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}
.bottom-part h3 {
  margin: 0;
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10pt;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* simple fade effect */
.hover-fade {
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(34, 147, 54, 0.65);
  color: #fff;
  position: absolute;
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  cursor: pointer;
}
.hover-fade i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.35s ease-out 0.3s;
  transition: opacity 0.35s ease-out 0.3s;
}
.hover-content:hover .hover-fade {
  opacity: 1;
}
.bg-grey-3 .bottom-part,
.bg-grey-2 .bottom-part,
.bg-grey-1 .bottom-part,
.bg-grey .bottom-part {
  background: #ffffff;
}
.bg-grey-3 .bottom-part h3,
.bg-grey-2 .bottom-part h3,
.bg-grey-1 .bottom-part h3,
.bg-grey .bottom-part h3 {
  color: #999999;
}
/*
 * ===================================
 * Navbars
 * 
 * includes: Navbar Default (only dropdown-menu - rest of default navbar is in bootstrap.css ), transparent navbar
 * ===================================
 * */
.navbar-absolute-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
@media (min-width: 1200px) {
  .nav > li > a {
    padding: 10px 30px;
  }
}
@media (min-width: 768px) {
  .navbar-height {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .navbar-height.navbar .navbar-brand {
    padding: 50px 50px;
    line-height: 20px;
    height: 120px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .navbar-height.navbar .navbar-logo img {
    height: 90px;
    margin: 15px 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    width: 90px;
  }
  .navbar-height.navbar .navbar-nav > li > a {
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 20px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    color: #000 !important;
  }
}
@media (max-width: 767px) {
  .navbar-logo img {
    margin: 10px 0 10px 10px !important;
  }
  .navbar-absolute-top.navbar-trn {
    background: #111;
    background: rgba(0, 0, 0, 0.8);
  }
}
.navbar {
  margin-bottom: 0;
  border: none;
  z-index: 999;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar .navbar-brand {
  font-weight: 300;
  padding: 25px 20.5px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  height: 70px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar .navbar-logo img {
  height: 50px;
  margin: 10px auto 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  width: 50px;
}
.navbar .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
@media (min-width: 768px) {
  .navbar .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 20px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
}
.navbar .navbar-toggle,
.navbar .navbar-toggle .icon-bar {
  -webkit-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
}
.navbar .navbar-open.navbar-toggle {
  border: none;
  height: 33px;
  width: 33px;
  padding: 0;
}
.navbar .navbar-open.navbar-toggle:hover,
.navbar .navbar-open.navbar-toggle:focus {
  background-color: transparent;
}
.navbar .navbar-open.navbar-toggle .icon-bar {
  -webkit-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  position: absolute;
  width: 100%;
}
.navbar .navbar-open.navbar-toggle .icon-bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar .navbar-open.navbar-toggle .icon-bar:nth-child(3) {
  visibility: hidden;
  -webkit-transition: all 0;
  transition: all 0;
}
.navbar .navbar-open.navbar-toggle .icon-bar:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 0;
}
.navbar-trn.navbar,
.navbar-fixed-top.navbar {
  margin-bottom: -70px;
}
/*===   Dropdown menu   - for light/transparent navbar ===*/
/*===   Navbar Default - light  ===*/
/* ===   Navbar Transparent  === */
.navbar-trn {
  background-color: transparent;
  border-color: transparent;
}
.navbar-trn .dropdown-menu {
  box-shadow: none;
}
.navbar-trn .navbar-brand {
  color: #eeeeee;
}
.navbar-trn .navbar-brand:focus {
  color: #ffffff;
  background: transparent;
}
.navbar-trn .navbar-link {
  color: #eeeeee;
}
.navbar-trn .navbar-link:hover {
  color: #ffffff;
}
.navbar-trn .btn-link {
  color: #777777;
}
.navbar-trn .btn-link:hover,
.navbar-trn .btn-link:focus {
  color: #ffffff;
}
.navbar-trn .btn-link [disabled]:hover,
.navbar-trn .btn-link [disabled]:focus {
  color: #ccc;
}
@media (min-width: 768px) {
  .navbar-trn .navbar-text,
  .navbar-trn .navbar-nav > li > a {
    color: #eeeeee;
  }
  .navbar-trn .navbar-nav > .open > a,
  .navbar-trn .navbar-nav > .open > a:hover,
  .navbar-trn .navbar-nav > .open > a:focus,
  .navbar-trn .navbar-nav > .disabled > a,
  .navbar-trn .navbar-nav > .disabled > a:hover,
  .navbar-trn .navbar-nav > .disabled > a:focus,
  .navbar-trn .navbar-nav > .active > a,
  .navbar-trn .navbar-nav > .active > a:hover,
  .navbar-trn .navbar-nav > .active > a:focus,
  .navbar-trn .navbar-nav > li > a:hover,
  .navbar-trn .navbar-nav > li > a:focus {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
  }
  .navbar-trn .navbar-collapse,
  .navbar-trn .navbar-form {
    border-color: #e7e7e7;
  }
}
@media (max-width: 767px) {
  .navbar-trn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar-trn .navbar-text {
    color: #eeeeee;
  }
  .navbar-trn .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-trn .navbar-nav > li > a:hover,
  .navbar-trn .navbar-nav > li > a:focus,
  .navbar-trn .navbar-nav > .open > a,
  .navbar-trn .navbar-nav > .open > a:hover,
  .navbar-trn .navbar-nav > .open > a:focus,
  .navbar-trn .navbar-nav > .active > a,
  .navbar-trn .navbar-nav > .active > a:hover,
  .navbar-trn .navbar-nav > .active > a:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
  }
  .navbar-trn .navbar-nav > .disabled > a,
  .navbar-trn .navbar-nav > .disabled > a:hover,
  .navbar-trn .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background: #eeeeee;
  }
  .navbar-trn .navbar-toggle {
    border-color: transparent;
  }
  .navbar-trn .navbar-toggle .icon-bar {
    background-color: #dddddd;
  }
  .navbar-trn .navbar-collapse,
  .navbar-trn .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-trn .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-trn .open .dropdown-menu > .active > a,
  .navbar-trn .open .dropdown-menu > .active > a:hover,
  .navbar-trn .open .dropdown-menu > .active > a:focus,
  .navbar-trn .open .dropdown-menu > li > a:hover,
  .navbar-trn .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #c0372c;
  }
  .navbar-trn .open .dropdown-menu > .disabled > a,
  .navbar-trn .open .dropdown-menu > .disabled > a:hover,
  .navbar-trn .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
fieldset[disabled] .navbar-trn .btn-link:hover,
fieldset[disabled] .navbar-trn .btn-link:focus {
  color: #cccccc;
}
/*===    Navbar Inverse    ===*/
/*
 * ===================================
 * Animations
 * 
 * includes: easeUp, easePulse, fromPocket, pulseIn, openIn, openSection, swithOnTv
 * ===================================
 * */
/* Animations are allowed only for more than 768px - no mobile devices for better performance */
@media (min-width: 768px) {
  /* slide from pocket */
  @-webkit-keyframes fromPocket {
    0% {
      opacity: 0;
      -webkit-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -moz-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -ms-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -moz-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -ms-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
    }
  }
  @keyframes fromPocket {
    0% {
      opacity: 0;
      -webkit-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -moz-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -ms-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -moz-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -ms-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
    }
  }
  .fromPocket {
    -webkit-animation-name: fromPocket;
    animation-name: fromPocket;
  }
  /* pulseIn */
  @-webkit-keyframes pulseIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 0.25;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes pulseIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 0.25;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  .pulseIn {
    -webkit-animation-name: pulseIn;
    animation-name: pulseIn;
  }
  /* easePulse */
  @-webkit-keyframes easePulse {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes easePulse {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  .easePulse {
    -webkit-animation-name: easePulse;
    animation-name: easePulse;
  }
  /* openIn */
  /* easeUp */
  @-webkit-keyframes easeUp {
    0% {
      opacity: 0;
      -webkit-transform: translate(0%, 35px);
      -moz-transform: translate(0%, 35px);
      -ms-transform: translate(0%, 35px);
      transform: translate(0%, 35px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%, 0px);
      -moz-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
      transform: translate(0%, 0px);
    }
  }
  @keyframes easeUp {
    0% {
      opacity: 0;
      -webkit-transform: translate(0%, 35px);
      -moz-transform: translate(0%, 35px);
      -ms-transform: translate(0%, 35px);
      transform: translate(0%, 35px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%, 0px);
      -moz-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
      transform: translate(0%, 0px);
    }
  }
  .easeUp {
    -webkit-animation-name: easeUp;
    animation-name: easeUp;
  }
  @keyframes aSlideInLeft {
    0% {
      opacity: 0.35s;
      left: -500px;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  @-webkit-keyframes aSlideInLeft {
    0% {
      opacity: 0.35s;
      left: -500px;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  .aSlideInLeft {
    -webkit-animation-name: aSlideInLeft;
    animation-name: aSlideInLeft;
  }
}
/*
 * ===================================
 * Small Components
 * ===================================
 * */
/* Fix for navbar */
.breakPoint {
  position: relative;
  top: -69px;
  visibility: hidden;
}
/* === Back To Top === */
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  z-index: 998;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #c0372c;
  font-size: 30px;
  background: #ffffff;
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.back-to-top:hover {
  color: #777777;
}
.back-to-top:focus,
.back-to-top:active {
  color: #ffffff;
  background: #c0372c;
}
/* === Google Maps === */
#map {
  height: 450px;
  width: 100%;
}
/* thumbnail */
.thumbnail {
  border: none;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  padding: 0;
  text-align:center;
}
.thumbnail,
.thumbnail .profile {
	max-width: 345px;
	margin-left: auto;
	margin-right: auto;
}
.thumbnail .profile .caption > h3 {
  margin: 0;
  font-size: 22px;
}
.thumbnail .profile .caption > h5 {
  margin:5px auto;
  font-size: 16px;
  font-weight: lighter;
}

.thumbnail .profile .caption > h6 {
  margin:5px auto;
  font-size: 14px;
  font-weight: lighter;  
}


/* secondary-team */
.secondary-team .list-team-sm {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
}
.secondary-team .list-team-sm li {
  display: inline-block;
  margin: 0.5%;
}
.secondary-team .list-team-sm li .bottom-part h3 {
  font-size: 16px;
  width: 100%;
}
@media (min-width: 1200px) {
	.secondary-team .list-team-sm li {
		  max-width: 15%;
	}
}
@media (max-width: 1199px) {
	.secondary-team .list-team-sm li {
		  max-width: 20%;
	}
}
@media (max-width: 992px) {
	.secondary-team .list-team-sm li {
		  max-width: 25%;
	}	
}
@media (max-width: 768px) {
	.secondary-team .list-team-sm li {
		  max-width: 33%;
	}	
}
/* small gallery - below the welcome section */
.small-gallery > .row > .col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}
.small-gallery > .row > .col-sm-3:first-child {
  padding-left: 0;
}
.small-gallery > .row > .col-sm-3:last-child {
  padding-right: 0;
}
/* legacy section */
#lc .right,
#lb .left,
#la .right {
  background: #fff;
  height: 500px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#lc .right,
#la .right {
  box-shadow: -10px 0 25px -20px;
  padding-left: 50px;
}
#lc .img-mask,
#la .img-mask {
  left: 70%;
  right: -70%;
}
#lb .left {
  box-shadow: 10px 0 25px -20px;
  padding-right: 50px;
}
#lb .img-mask {
  left: -80%;
  right: 80%;
}
/* legacy animation is actived */
.slideInEffect#lc .img-mask,
.slideInEffect#la .img-mask,
.slideInEffect#lb .img-mask {
  left: 0;
  right: 0;
}
/*
 * ===================================
 * Footer
 * ===================================
 * */
.footer-top {
  background: #272727;
  padding: 15px 0;
}
.footer-bottom {
  background: #222222;
  padding: 15px 0;
}
.footer-bottom p {
  margin: 0;
}
.footer {
  color: #aaa;
}
.footer p,
.footer a {
  color: #aaa;
}

.footer h4 {
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
  width: 80%;
  color: #c0372c;
}
.footer .circle-icons i {
  background: #333333;
  color: #aaa;
  box-shadow: none;
}
/*
 * ===================================
 *  Pricing Tables 
 * 
 * includes: 3 types of pricing tables
 * ===================================
 * */
.first,
.last,
.middle {
  position: relative;
}
.last,
.first {
  z-index: 1;
}
.middle {
  z-index: 2;
}
/* Pricing tables - version 1 */
.panel.prices-v1,
.panel.prices {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.prices-v1 .panel-body,
.prices .panel-body {
  padding: 25px;
}
.val {
  color: #c0372c;
  font-size: 50px;
  margin: 20px 0;
}
.bg-primary .val small,
.bg-primary .val {
  color: #ffffff;
}
/* Pricing tables - version 2 */
.prices-v1 .name {
  margin: 5px 0;
  font-size: 40px;
}
.val-v1 {
  color: #c0372c;
  font-size: 45px;
  margin: 10px 0 25px;
}
/* Pricing Tables - Minimalistic Style */
.type {
  font-size: 2em;
  color: #777777;
  margin: 15px 0 30px;
}
.price {
  font-size: 6em;
  line-height: 100px;
  margin: 20px 0 0;
}
.month {
  color: #777777;
  text-transform: uppercase;
  font-weight: 300;
}
.details {
  font-size: 1.5em;
  margin: 25px 0 10px;
}
/*
 * ===================================
 * OWL Carousel
 * ===================================
 * */
/* Owl Carousel customization */
#pricesSlider .item {
  padding-left: 10px;
  padding-right: 10px;
}
/*=== OWL Carousel Navigation */
.owl-pagination {
  position: relative;
  padding: 0;
  list-style: none;
  cursor: default;
  margin-bottom: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin-top: 10px;
}
.owl-pagination .owl-page {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 5px 7px;
  box-shadow: 0 0 0 2px #3a66b5;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.owl-pagination .owl-page:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 1px #3a66b5;
  border-radius: 50%;
  background-color: #3a66b5;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.owl-pagination .owl-page.active:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.sm-pagination .owl-pagination {
  margin-top: 0;
}
.sm-pagination .owl-pagination .owl-page {
  width: 12px;
  height: 12px;
  margin: 2px 5px;
}
.timeline {
  position: relative;
}
.timeline:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  left: 50%;
  border-left: 2px solid transparent;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: height 5s ease;
  transition: height 5s ease;
}
.timeline .btn-link {
  z-index: 5;
  position: relative;
}
#loadNews {
  cursor: pointer;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.label-month {
  text-align: center;
  background: #c0372c;
  padding: 14px 20px;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  width: 230px;
  z-index: 2;
}
.label-month:first-child {
  position: relative;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .label-month:first-child {
    margin-bottom: -45px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .label-month:first-child {
    margin-bottom: -20px;
  }
}
.label-month:not(:first-child) {
  position: relative;
  overflow: hidden;
  margin: auto auto 80px auto;
}
@media (min-width: 768px) {
  .label-month:not(:first-child) {
    top: 80px;
  }
}
@media (max-width: 767px) {
  .label-month:not(:first-child) {
    top: 40px;
  }
}
.label-month:last-child {
  top: 0;
  margin-top: 80px;
}
.label-month a {
  color: #fff;
}
.label-month a:hover {
  color: #fff;
}
.label-month .i-plus {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1;
  vertical-align: top;
}
.box-post {
  overflow: hidden;
  background: #fff;
  padding: 30px;
}
@media (max-width: 767px) {
  .box-post {
    border-bottom: 1px solid #dddddd;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .box-post {
    border-bottom: 2px solid #dddddd;
    border-radius: 2px;
  }
  .box-post:after,
  .box-post:before {
    content: "";
    position: absolute;
    display: block;
  }
  .box-post:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .box-post.left {
    margin: 30px 30px 0 0;
  }
  .box-post.left:after {
    border-left: 15px solid #fff;
    right: 30px;
    top: 70px;
  }
  .box-post.right {
    margin: 80px 0 0 30px;
  }
  .box-post.right:after {
    border-right: 15px solid #fff;
    left: 30px;
    top: 120px;
  }
  .box-post:before {
    border-radius: 50%;
    width: 16px;
    z-index: 3 !important;
    height: 16px;
    background: #c0372c;
    border: 2px solid #fff;
    -webkit-transition: height 0.35s ease, height 0.35s ease;
    transition: height 0.35s ease, height 0.35s ease;
  }
  .box-post.right:before {
    top: 127.5px;
    left: -7px;
  }
  .box-post.left:before {
    top: 77.5px;
    right: -8.5px;
  }
}
.box-post h3 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 15px;
}
.box-post p {
  margin-bottom: 15px;
}
.box-post > a {
  text-transform: uppercase;
}
.box-post > a i {
  font-size: 115%;
}
.box-load {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
.box-load.left {
  transition-delay: 0.1s;
}
.box-load.right {
  transition-delay: 0.15s;
}
.timelineEffect.timeline:after {
  height: 100%;
  border-left-color: #c0372c;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
}
.md-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  min-width: 100%;
  height: 100%;
  z-index: 2001;
  visibility: hidden;
  text-align: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.md-modal .md-body {
  padding: 80px 0;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.md-show {
  visibility: visible;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Content styles */
.md-content {
  background: #fff;
  margin: 0 auto;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1999;
  color: #777777;
}
.md-content .title {
  font-size: 45px;
}
.md-content .text {
  font-size: 17.5px;
  line-height: 30px;
  font-weight: 300;
}
.icon-close {
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  cursor: pointer;
  top: 35px;
  right: 35px;
}
.icon-close:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon-close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.icon-close:before,
.icon-close:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #777777;
}
/*=== Animation for modal windows ===*/
/* Scale + rotateY (only for screen larger than 992px) */
/* Simple scale */
.md-effect-2 .md-content {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.md-effect-2.md-show .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.olympians img {
  margin: auto;
}

.olympians {
  margin-top: 20px;
}




.olympians img {
  margin:10px auto;
  border:1px #aaa solid;
  min-width: 140px;
  max-width: 160px;
}

.olympians h4, .olympians h5, .olympians h6 {
  font-size:115%;
  text-align: center;
  margin:0px;
  line-height: 130%;
}

.olympians h5 {
  font-size: 95%;
}

.teams {
  margin-top:20px;
}
.teams img {
  height:200px;
  min-width: 200px;
  min-height: 200px;
  display:block;
  margin: auto;  
}

.teams h4, .teams h5, .teams h6  {
  font-size:115%;
  text-align: center;
  margin:0px;
  line-height: 130%;
}

.teams h5 {
  font-size: 95%;
}

#partners ul li{
  margin:20px auto;
}

.center-me{
  text-align:center;
  display:inline-block;
  margin:auto;
  background:blue;
}

ul.big-list {
  margin-left: -40px;
}

.caption h5 {
  font-size: 85%
}
