/*
 * ===================================
 * Animations
 * 
 * includes: easeUp, easePulse, fromPocket, pulseIn, openIn, openSection, swithOnTv
 * ===================================
 * */

/* Animations are allowed only for more than 768px - no mobile devices for better performance */ 

@media (min-width: 768px) {
/* slide from pocket */
    @name1: fromPocket;
    @-webkit-keyframes @name1   {
        0% {
            opacity: 0;
            .transform(perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px));
        }
        100% {
            opacity: 1;
            .transform(perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px));
        }
    }
    @keyframes @name1 {
        0% {
            opacity: 0;
            .transform(perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px));
        }
        100% {
            opacity: 1;
            .transform(perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px));
        }
    }
    .fromPocket {
        .animation-name(@name1);
    }
    
    /* pulseIn */
    @name2: pulseIn;
    @-webkit-keyframes @name2 {
        0% {
            opacity: 0;
            .transform(scale(0));
        }
        50% {
            opacity: 0.25;
            .transform(scale(1.2));
        }
        100% {
            opacity: 1;
            .transform(scale(1));
        }
    }
    @keyframes pulseIn {
        0% {
            opacity: 0;
            .transform(scale(0));
        }
        50% {
            opacity: 0.25;
            .transform(scale(1.2));
        }
        100% {
            opacity: 1;
            .transform(scale(1));
        }
    }
    .pulseIn {
        .animation-name(@name2);
    }
    
    /* easePulse */
    @name3: easePulse;
    @-webkit-keyframes  @name3 {
        0% {
            opacity: 0;
            .transform(scale(0));
        }
        100% {
            opacity: 1;
            .transform(scale(1));
        }
    }
    @keyframes  @name3 {
        0% {
            opacity: 0;
            .transform(scale(0));
        }
        100% {
            opacity: 1;
            .transform(scale(1));
        }
    }
    .easePulse {
        .animation-name(@name3);
    }
//    /* openIn */
//    @name4: openIn;
//    @-webkit-keyframes @name4 {
//        0% {
//            opacity: 0;
//            .transform(perspective(500px) rotateY(15deg));
//        }
//        100% {
//            opacity: 1;
//            .transform(perspective(500px) rotateY(0));
//        }
//    }
//    @keyframes @name4 {
//        0% {
//            opacity: 0;
//            .transform(perspective(500px) rotateY(15deg));
//        }
//        100% {
//            opacity: 1;
//            .transform(perspective(500px) rotateY(0));
//        }
//    }
//    .openIn {
//        .animation-name(@name4);
//    }
//        
    /* easeUp */
    @name5: easeUp;
    @-webkit-keyframes @name5 {
        0% {
            opacity: 0;
            .transform(translate(0%, 35px));
        }
        100% {
            opacity: 1;
            .transform(translate(0%, 0px));
        }
    }
    @keyframes @name5 {
        0% {
            opacity: 0;
            .transform(translate(0%, 35px));
        }
        100% {
            opacity: 1;
            .transform(translate(0%, 0px));
        }
    }
    .easeUp {
       .animation-name(@name5);
    }
    

    //
    @valX: 30%;
    @valXm: -30%;
    
    @name8: fromRight;
    @-webkit-keyframes @name8 {
        0% {
            opacity: 0;
            .transform(translateX(@valX));
        }
        100% {
            opacity: 1;
            .transform(translateX(0));
        }
    }
     @keyframes @name8 {
        0% {
            opacity: 0;
            .transform(translateX(@valX));
        }
        100% {
            opacity: 1;
            .transform(translateX(0));
        }
    }
    .fromRight {
        .animation-name(@name8);
    }
    
    @name9: toLeft;
    @-webkit-keyframes @name9 {
        0% {
            opacity: 1;
            .transform(translateX(0));
            
        }
        100% {
            opacity: 0;
            .transform(translateX(-@valXm));
        }
    }
     @keyframes @name9 {
        0% {
            opacity: 1;
            .transform(translateX(0));
            
        }
        100% {
            opacity: 0;
            .transform(translateX(-@valXm));
        }
     }
    .toLeft {
        .animation-name(@name9);
    }
    //
    @name10: fromLeft;
    @-webkit-keyframes @name10 {
        0% {
            opacity: 0;
            .transform(translateX(-@valXm));
        }
        100% {
            opacity: 1;
            .transform(translateX(0));
        }
    }
     @keyframes @name10 {
        0% {
            opacity: 0;
            .transform(translateX(-@valXm));
        }
        100% {
            opacity: 1;
            .transform(translateX(0));
        }
    }
    .fromLeft {
        .animation-name(@name10);
    }
    
    @name11: toRight;
    @-webkit-keyframes @name11 {
        0% {
            opacity: 1;
            .transform(translateX(0));
        }
        100% {           
            opacity: 0;
            .transform(translateX(@valX));
        }
    }
     @keyframes @name11 {
        0% {
            opacity: 1;
            .transform(translateX(0));
        }
        100% {           
            opacity: 0;
            .transform(translateX(@valX));
        }
    }
    .toRight {
        .animation-name(@name11);
    }
}