#social-connections,
#social-connections-popup-overlay,
#social-connections-popup
  box-sizing: border-box
  *, *:before, *:after
    box-sizing: inherit
  .blue
    background: rgb(43, 115, 145)
  .brown
    background: rgb(143, 111, 24)
  .red
    background: rgb(184, 27, 27)
  .green
    background: rgb(73, 123, 14)
  .author
    background: rgba(0, 0, 0, 0.5)
    color: #fff
    font-size: 0.75em
    height: 48px
    position: relative
    text-align: left
    line-height: 1
    img
      padding: 0
      float: left
      width: 48px
      height: 48px
    div
      position: absolute
      top: 0
      right: 0
      float: right
      width: 100%
      padding: 0.5em 0.25em 0.25em 52px
      a
        display: block
        color: rgba(255, 255, 255, 0.9)
        text-decoration: none
      .location
        color: rgba(255, 255, 255, 0.7)
        font-size: 0.75em

#social-connections-popup-overlay
  background: rgba(0, 0, 0, 0.8)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  width: 100%
  height: 100%
  z-index: 999999
  display: none
  text-align: center

#social-connections-popup
  display: none
  z-index: 9999999
  position: absolute
  text-align: center
  width: 100%
  main
    position: relative
    margin: 3em auto
    text-align: left
    max-width: 100%
    width: 250px
    border: 2px solid #fff
    .close
      position: absolute
      right: 0
      top: -1.5em
      cursor: pointer
      color: #fff
    video, img
      padding: 1em
      width: 100%
    p
      padding: 1em 1em 0.5em
      margin: 0
      color: #fff
      &:first-child
        border-bottom: 1px solid rgba(240, 240, 240, 0.8)
      a
        text-decoration: none
        color: rgba(240, 240, 240, 0.8)
    .date
      padding: 0.5em 0
      margin: 0 1em
      color: rgba(240, 240, 240, 0.8)
      border-top: 1px solid rgba(240, 240, 240, 0.8)

#social-connections
  background: rgba(0, 0, 0, 0.1)
  section.tile
    position: relative
    word-wrap: break-word
    text-align: center
    width: 100%
    height: 100%
    .content
      a
        color: rgba(240, 240, 240, 0.8)
      color: #fff
      padding: 0.5em
      line-height: 1.5
      position: absolute
      text-align: left
      top: 0
      right: 0
      left: 0
      bottom: 0
      height: 100%
      width: 100%
      &.image
        cursor: pointer
        background-size: cover !important
    .icon
      position: absolute
      height: 2em
      color: #fff
      z-Index: 999
      font-size: 3em
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
      cursor: pointer
    .author
      text-align: left
      position: absolute
      bottom: 0
      right: 0
      left: 0

@media screen and (max-width: 35.49em)
  #social-connections
    section
      min-height: 100vw

@media screen and (min-width: 35.5em)
  #social-connections
    section
      min-height: 50vw

@media screen and (min-width: 48em)
  #social-connections
    section
      min-height: 16vw
      .content
        font-size: 0.75em

.flip {
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0);
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0);
}
.flip.out {
    -webkit-transform: rotateY(-90deg) scale(.9);
    -webkit-animation-name: flipouttoleft;
    -webkit-animation-duration: 175ms;
    -moz-transform: rotateY(-90deg) scale(.9);
    -moz-animation-name: flipouttoleft;
    -moz-animation-duration: 175ms;
}
.flip.in {
    -webkit-animation-name: flipintoright;
    -webkit-animation-duration: 225ms;
    -moz-animation-name: flipintoright;
    -moz-animation-duration: 225ms;
}
.flip.out.reverse {
    -webkit-transform: rotateY(90deg) scale(.9);
    -webkit-animation-name: flipouttoright;
    -moz-transform: rotateY(90deg) scale(.9);
    -moz-animation-name: flipouttoright;
}
.flip.in.reverse {
    -webkit-animation-name: flipintoleft;
    -moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
