* {
  box-sizing: border-box;
}

body {
  text-align:center;
  font-family: Lato, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: light;
  color:white;
  background: #C33A32;
  height:100%;
  position: relative;
}


img {
    margin-top: 40px;
}

span .bottom{
   position:absolute;                  /* added */
   bottom:0;                           /* added */
}
.rainbow-bar {
  width: 100%;
  height: 10px !important;
}
.rainbow-bar .section {
  height: 10px !important;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding:0px;
}
.rainbow-bar .section.green {
  background-color: #229336;
}
.rainbow-bar .section.green .sub-section {
  height: 10px;
  display: inline-block;
  vertical-align: top;
}
.rainbow-bar .section.green .sub-section.dark {
  background-color: #0f4018;
  width: 25%;
}
.rainbow-bar .section.green .sub-section.normal {
  background-color: #229336;
  width: 25%;
}
.rainbow-bar .section.green .sub-section.light {
  background-color: #2cbc45;
  width: 25%;
}
.rainbow-bar .section.green .sub-section.lighter {
  background-color: #47d460;
  width: 25%;
}
.rainbow-bar .section.red {
  background-color: #c64a41;
}
.rainbow-bar .section.red .sub-section {
  height: 10px;
  display: inline-block;
  vertical-align: top;
}
.rainbow-bar .section.red .sub-section.dark {
  background-color: #7c2b25;
  width: 25%;
}
.rainbow-bar .section.red .sub-section.normal {
  background-color: #c64a41;
  width: 25%;
}
.rainbow-bar .section.red .sub-section.light {
  background-color: #d26f68;
  width: 25%;
}
.rainbow-bar .section.red .sub-section.lighter {
  background-color: #de958f;
  width: 25%;
}
.rainbow-bar .section.gold {
  background-color: #c0732c;
}
.rainbow-bar .section.gold .sub-section {
  height: 10px;
  display: inline-block;
  vertical-align: top;
}
.rainbow-bar .section.gold .sub-section.dark {
  background-color: #6d4119;
  width: 25%;
}
.rainbow-bar .section.gold .sub-section.normal {
  background-color: #c0732c;
  width: 25%;
}
.rainbow-bar .section.gold .sub-section.light {
  background-color: #d58d4a;
  width: 25%;
}
.rainbow-bar .section.gold .sub-section.lighter {
  background-color: #dfa773;
  width: 25%;
}
.rainbow-bar .section.blue {
  background-color: #2b7391;
}
.rainbow-bar .section.blue .sub-section {
  height: 10px;
  display: inline-block;
  vertical-align: top;
}
.rainbow-bar .section.blue .sub-section.dark {
  background-color: #143542;
  width: 25%;
}
.rainbow-bar .section.blue .sub-section.normal {
  background-color: #2b7391;
  width: 25%;
}
.rainbow-bar .section.blue .sub-section.light {
  background-color: #3792b8;
  width: 25%;
}
.rainbow-bar .section.blue .sub-section.lighter {
  background-color: #55aacd;
  width: 25%;
}

h1 {
    font-weight: 300;
    font-size: 265%;
}

.btn {
  border:1px solid rgba(255, 255, 255, 0.5);
}

.form-control {
  color: rgba(255, 255, 255, 0.5);  
}

.form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);;
}
.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);;
}